
Use mean, median, and conditional logic to clean, analyze, and transform a real-world-like dataset.

Department names repeat (e.g., "IT", "HR", "Sales")

data = {
    'Employee': ['Ali', 'Sara', 'Ahmed', 'Bilal', 'Hina', 'Usman', 'Zara', 'Raza', 'Maryam', 'Danish'],
    'Department': ['IT', 'HR', 'IT', 'Sales', 'HR', 'Sales', 'IT', 'Sales', 'HR', 'IT'],
    'Age': [25, np.nan, 28, 30, 26, np.nan, 31, 27, np.nan, 29],
    'Salary': [55000, 48000, np.nan, 62000, 50000, np.nan, 58000, 61000, 49000, np.nan],
    'Experience': [2, 3, 4, np.nan, 2, 5, np.nan, 6, 3, np.nan]
}

 Compute Descriptive Stats

Find mean, median, min, max, and std for all numeric columns.

Store the results in a new DataFrame called summary.

Perform advanced filling:

Fill Age using median by department
(use groupby('Department')['Age'].transform('median'))

Fill Salary using mean by department

Fill Experience with the overall mean

In [ ]:
Conditional Replacement

If any salary is below 50000, replace it with the mean salary of its department

If experience is less than 2 years, set it to 2

In [ ]:
Add a New Column

Create a new column called Performance_Score = (Experience * 10) + (Age / 2)

Verification

Check if any NaN remains.

Print summary statistics again after cleaning.

Calculate average salary per department

Find top 3 highest-paid employees

Save the final cleaned DataFrame to a CSV file.